{% extends "base.html" %}

{% block content %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if question.audio_file != null %}
<audio controls>
    <source src="{{ question.audio_file.url }}" type="audio/mpeg">
</audio>
{% endif %}
<form action="{% url 'answer' question.id person_id %}" method="post">
    <div class="form-group">
        {% csrf_token %}
        {% if question.open_question %}
        <textarea rows="4" cols="50" name="answer"></textarea>
        {% else %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" class="choices" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        {% endif %}
    </div>
    <button type="submit" id="continue" class="btn btn-default">kontynuuj</button>
</form>

<script lang="javascript">
    $('.choices').change(function () {
    $('#continue').prop("disabled", !this.checked);
}).change()
</script>
{% endblock %}